tasks {
  ["hello"] {
    cmds {
      new {
        cmd {
          "echo 'Hello world'"
        }
        task = null
        embeddedShell = true
        mustSucceed = true
      }
    }
    doc = null
    env {}
    files {}
    inheritEnv = true
    summary = ""
    workingDir = "."
  }
  ["bye"] {
    cmds {
      new {
        cmd {
          "echo 'Bye world'"
        }
        task = null
        embeddedShell = true
        mustSucceed = true
      }
    }
    doc = null
    env {}
    files {}
    inheritEnv = true
    summary = ""
    workingDir = "."
  }
}
argc = 0
argv {}
