examples {
  ["task-anonymous-function"] {
    new {
      cmds {
        new {
          cmd {}
          task = "called-task"
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["task-function"] {
    new {
      cmds {
        new {
          cmd {}
          task = "called-task"
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
}
