examples {
  ["binsh-anonymous-function-with-string"] {
    new {
      ["binsh-anonymous-function-with-string"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              "echo start"
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["binsh-anonymous-function-with-list"] {
    new {
      ["binsh-anonymous-function-with-list"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              """
              echo start
              echo end
              """
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["binsh-anonymous-function-with-listing"] {
    new {
      ["binsh-anonymous-function-with-listing"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              """
              echo start
              echo end
              """
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["binsh-anonymous-function-with-dynamic"] {
    new {
      ["binsh-anonymous-function-with-dynamic"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              """
              echo start
              echo end
              """
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["binsh-function-with-string"] {
    new {
      ["binsh-function-with-string"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              "echo start"
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["binsh-function-with-list"] {
    new {
      ["binsh-function-with-list"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              """
              echo start
              echo end
              """
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["binsh-function-with-listing"] {
    new {
      ["binsh-function-with-listing"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              """
              echo start
              echo end
              """
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["binsh-function-with-dynamic"] {
    new {
      ["binsh-function-with-dynamic"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              """
              echo start
              echo end
              """
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["binsh-amending"] {
    new {
      ["binsh-amending"] {
        desc = null
        cmds {
          new {
            cmd {
              "/bin/sh"
              "-c"
              "echo start"
            }
            task = null
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
}
