examples {
  ["task-anonymous-function"] {
    new {
      ["task-anonymous-function"] {
        desc = null
        cmds {
          new {
            cmd {}
            task = "called-task"
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
  ["task-function"] {
    new {
      ["task-function"] {
        desc = null
        cmds {
          new {
            cmd {}
            task = "called-task"
            embeddedShell = false
            mustSucceed = true
          }
        }
        env {}
        files {}
        inheritEnv = true
        workingDir = "."
      }
    }
  }
}
