examples {
  ["none"] {
    new {
      cmds {}
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["oneline"] {
    new {
      cmds {}
      doc = "the task t1"
      env {}
      files {}
      inheritEnv = true
      summary = "the task t1"
      workingDir = "."
    }
  }
  ["moredoc"] {
    new {
      cmds {}
      doc = """
        the task t1
        
        This tasks does something.
        """
      env {}
      files {}
      inheritEnv = true
      summary = "the task t1"
      workingDir = "."
    }
  }
  ["space"] {
    new {
      cmds {}
      doc = """
        
        the task t1
        
        This tasks does something.
        """
      env {}
      files {}
      inheritEnv = true
      summary = "the task t1"
      workingDir = "."
    }
  }
  ["morespace"] {
    new {
      cmds {}
      doc = """
        \t
        the task t1
        
        This tasks does something.
        """
      env {}
      files {}
      inheritEnv = true
      summary = "the task t1"
      workingDir = "."
    }
  }
  ["stillmorespace"] {
    new {
      cmds {}
      doc = """
        
         \t 
        
        \t
        
        the task t1
        
        This tasks does something.
        """
      env {}
      files {}
      inheritEnv = true
      summary = "the task t1"
      workingDir = "."
    }
  }
}
