examples {
  ["anonymous-function-with-string"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            #"%s\n"#
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["anonymous-function-with-list"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            """
            %s
            
            """
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["anonymous-function-with-listing"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            #"%s\n"#
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["anonymous-function-with-dynamic"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            #"%s\n"#
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["function-with-string"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            #"%s\n"#
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["function-with-list"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            #"%s\n"#
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["function-with-listing"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            #"%s\n"#
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["function-with-dynamic"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            #"%s\n"#
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
  ["amending"] {
    new {
      cmds {
        new {
          cmd {
            "printf"
            #"%s\n"#
            "arg1"
            "arg 2"
          }
          task = null
          embeddedShell = false
          mustSucceed = true
        }
      }
      doc = null
      env {}
      files {}
      inheritEnv = true
      summary = ""
      workingDir = "."
    }
  }
}
